<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="utils.xacro" />
    <xacro:macro name="module_macro" params="name parent_link x y z roll pitch yaw">
        <model name="${name}">
            <static>true</static>

            <link name="${name}_link">
                <visual name="${name}_visual">
                    <pose>${x} ${y} ${z} ${roll} ${pitch} ${yaw}</pose>
                    <geometry>
                        <box>
                            <size>0.1 1.0 3.0</size>
                        </box>
                    </geometry>
                    <xacro:set_material color="0.0 0.0 1.0" />
                </visual>
            </link>
        </model>
    </xacro:macro>
</robot>