<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="set_material" params="color">
        <material name="material">
            <ambient>${color} 1</ambient>
            <diffuse>${color} 1</diffuse>
            <specular>0.5 0.5 0.5 1</specular>
            <emissive>0 0 0 1</emissive>
        </material>
    </xacro:macro>

    <xacro:macro name="marker_macro" params="parent_link name id x y z roll pitch yaw">
        <model name="${name}_${id}">
            <static>true</static>
            <pose>${x} ${y} ${z} ${roll * pi / 180.0} ${pitch * pi / 180.0} ${yaw * pi / 180.0}</pose>
            <link name="${name}_${id}_link">
                <visual name="${name}_${id}_visual">
                    <geometry>
                        <cylinder>
                            <radius>0.02</radius>
                            <length>0.001</length>
                        </cylinder>
                    </geometry>
                </visual>
            </link>
            <plugin filename="gz-sim-label-system" name="gz::sim::systems::Label">
                <label>${id}</label>
            </plugin>
        </model>
    </xacro:macro>
</robot>