<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint name="camera_right_joint" type="fixed">
        <parent link="base_link" />
        <child link="camera_right_link" />
        <origin xyz="2 0 1"
            rpy="0 0 3.14" />
    </joint>

    <link name="camera_right_link">
        <visual>
            <geometry>
                <box size="0.03 0.03 0.03" />
            </geometry>
            <material name="black" />
        </visual>
    </link>


    <joint name="camera_right_optical_joint" type="fixed">
        <parent link="camera_right_link" />
        <child link="camera_right_link_optical" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="camera_right_link_optical"></link>

    <gazebo reference="camera_right_link">
        <material>Gazebo/Black</material>
        <sensor name="camera_right" type="camera">
            <topic>/camera/right/image</topic>
            <gz_frame_id>camera_right_link_optical</gz_frame_id>
            <camera>
                <camera_info_topic>/camera/right/camera_info</camera_info_topic>
                <horizontal_fov>2.6</horizontal_fov>
                <vertical_fov>2.6</vertical_fov>
                <image>
                    <width>640</width>
                    <height>640</height>
                </image>
                <distortion>
                    <k1>-0.04</k1>
                    <k2>0.001</k2>
                    <k3>0.00001</k3>
                    <p1>0.0</p1>
                    <p2>0.0</p2>
                    <center>
                        <x>0.5</x>
                        <y>0.5</y>
                    </center>
                </distortion>
                <clip>
                    <near>0.01</near>
                    <far>60</far>
                </clip>
            </camera>
            <always_on>1</always_on>
            <update_rate>50</update_rate>
            <visualize>true</visualize>
        </sensor>

    </gazebo>

</robot>