<?xml version="1.0"?>
<robot name="vehicle" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find simulation)/worlds/utils.xacro" />

    <link name="world"></link>

    <joint name="base_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="world" />
        <child link="base_link" />
        <origin xyz="0 0 0.0" rpy="0 0 0" />
    </joint>

    <!-- Base Link -->
    <link name="base_link">
        <visual name="base_link_visual">
            <origin xyz="0 0 0.25" rpy="0 0 0" />
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </visual>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <mass value="1" />
            <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
        </inertial>
    </link>

    <xacro:include filename="camera_pinhole_bbox.xacro" />
    <xacro:camera_pinhole_macro name="top_view_camera_front" parent_link="base_link"
        hfov="140.0" width="640" height="480"
        x="1.0" y="0.0" z="0.3"
        roll="0.0" pitch="0.0" yaw="0.0"
    />
    <xacro:camera_pinhole_macro name="top_view_camera_left" parent_link="base_link"
        hfov="140.0" width="640" height="480"
        x="0.0" y="0.5" z="0.3"
        roll="0.0" pitch="0.0" yaw="90"
    />
    <xacro:camera_pinhole_macro name="top_view_camera_right" parent_link="base_link"
        hfov="140.0" width="640" height="480"
        x="0.0" y="-0.5" z="0.3"
        roll="0.0" pitch="0.0" yaw="-90"
    />
    <xacro:camera_pinhole_macro name="top_view_camera_rear" parent_link="base_link"
        hfov="140.0" width="640" height="480"
        x="-1.0" y="0.0" z="0.3"
        roll="0.0" pitch="0.0" yaw="180"
    />

    <xacro:include filename="lidar.xacro" />
    <xacro:lidar_macro name="ref_lidar" parent_link="base_link" x="0.0" y="0.0" z="1.5" roll="0.0" pitch="0.0" yaw="0.0" />
    <xacro:lidar_macro name="ref_lidar_front" parent_link="base_link" x="1.0" y="0.0" z="0.8" roll="0.0" pitch="25.0" yaw="0.0" />
    <xacro:lidar_macro name="ref_lidar_right" parent_link="base_link" x="0.0" y="-0.5" z="0.8" roll="0.0" pitch="25.0" yaw="-90" />
    <xacro:lidar_macro name="ref_lidar_rear" parent_link="base_link" x="-1.0" y="0.0" z="0.8" roll="0.0" pitch="25.0" yaw="180" />
    <xacro:lidar_macro name="ref_lidar_left" parent_link="base_link" x="0.0" y="0.5" z="0.8" roll="0.0" pitch="25.0" yaw="90" />

</robot>